.progress-container {
  height: 10px;
  background: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: #4498fa;;
  transition: width 0.35s ease-in-out;
}